
@{
    ViewData["Title"] = "Index";
    var msgValid = TempData["MSG_S"];
}



<main role="main">


    <section class="container" id="order" style="margin-top: 50px">

        <h2 class="title-doc">Plano de Desenvolvimento Institucional - PDI </h2>


        <h4 class="subtitle-doc">

            <input type="button" value="Novo PDI" class="btn btn-outline-success my-2 my-sm-0" onclick="location.href='@Url.Action("CadastroPDI", "Pdi")'" />

        </h4>
        <div id="code_cart">

            @if (msgValid != null)
            {
                <p id="msgsucesso" class="alert alert-success">@Html.Raw(msgValid)</p>
            }

            <div class="card">

                <table class="table-responsive-sm table-hover shopping-cart-wrap">

                    <tbody>

                        <tr>
                            <td style="width:10%"></td>
                            <td class="text-left" style="padding-bottom: 1em;width:80%;vertical-align:middle">

                                @*<a href='@Url.Action("AlterarPDI", "Pdi")' class="question-hyperlink" style="color:#007bff">PDI IFS 2020-2024</a>*@

                                <dl class="dlist-inline " style="margin-top:7px">
                                    <dd><h2>PDI IFS 2020-2024</h2></dd>
                                </dl>


                                <dl class="dlist-inline small">
                                    <dt>Vigência: </dt>
                                    <dd>01/10/2020 a 01/10/2024</dd>
                                </dl>

                                <dl class="dlist-inline small">
                                    <dt>Situação: </dt>
                                    <dd>Fechado para Novas Demandas</dd>
                                </dl>

                                <dl class="dlist-inline small">
                                    <dt>Período Rec. Demandas:</dt>
                                    <dd>01/11/2020 a 01/12/2020</dd>
                                </dl>

                            </td>

                            <td class="text-center" style="padding-bottom: 1em;width:20%;vertical-align:middle">

                                <dl class="dlist-inline small">
                                    <dd>
                                        <a title="Alterar" href='@Url.Action("AlterarPDI", "Pdi")' class="btn btn-outline-success" data-toggle="tooltip"
                                           data-original-title="Save to Wishlist"><i class="fa fa-edit"></i></a>
                                    </dd>

                                    <dd>
                                        <a title="Remover" href="" class="btn btn-outline-danger" data-toggle="tooltip"
                                           data-original-title="Save to Wishlist"><i class="fa fa-eraser"></i></a>
                                    </dd>
                                </dl>

                            </td>

                        </tr>

                    </tbody>
                </table>
            </div> <!-- card.// -->
        </div> <!-- code-wrap.// -->
    </section>
    <br />
    <br />
    <hr class="featurette-divider">





</main>

