
@{
    ViewData["Title"] = "AcessoNegado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main">
    <br />
    <br />
    <section class="container">



        <aside class="col-sm-4" style="  margin: 0 auto;float: none;margin-bottom: 10px;">
            <h3 class="subtitle-doc"></h3>
            <div id="code_login">
                <div class="card">
                    <article class="card-body">

                        <h4 class="card-title mb-4 mt-1" style="color:red">Você não possui permissão para acessar esta funcionalidade!</h4>
                    </article>
                </div> <!-- card.// -->
            </div> <!-- code-wrap.// -->
        </aside>
    </section>

</main>

