@model Usuario
@{
    ViewData["Title"] = "Login";
    var msgValidE = TempData["MSG_E"];
}

<main role="main">
    <br />
    <br />
    <section class="container">

        @if (msgValidE != null)
        {
            <p id="msgerro" class="alert alert-danger">@Html.Raw(msgValidE)</p>
        }

        <aside class="col-sm-4" style="  margin: 0 auto;float: none;margin-bottom: 10px;">
            <h3 class="subtitle-doc"></h3>
            <div id="code_login">
                <div class="card">
                    <article class="card-body">

                        <h4 class="card-title mb-4 mt-1">Login</h4>
                        <form method="post">
                            <div class="form-group">
                                <label asp-for="Login">Usuario</label>
                                <input asp-for="Login" class="form-control" placeholder="" type="text">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <label asp-for="Senha">Senha</label>
                                <input asp-for="Senha" class="form-control" placeholder="******" type="password">
                            </div> <!-- form-group// -->

                            <div class="form-group text-center">
                                <h5 class="subtitle-doc">    <button type="submit" class="btn btn-outline-success my-2 my-sm-0 col-sm-10 "> Login </button></h5>
                            </div> <!-- form-group// -->
                        </form>
                    </article>
                </div> <!-- card.// -->
            </div> <!-- code-wrap.// -->
        </aside>
    </section>

</main>

