
@{
    ViewData["Title"] = "ResultadoSorteio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div style="text-align:center">
    
    <h1 style="font-size:x-large;color:forestgreen">Parabéns a você dono(a) do email:</h1>

    <h1 style="font-size:x-large">gabriel.barbosa088@academico.ifs.edu.br</h1>

    <h1 style="font-size:x-large;color:forestgreen">Você ganhou um Fone de Ouvido JBL TUNE 110, estaremos entrando em contato através deste email para que possamos te entregar o prêmio!</h1>
</div>

<img src="~/resources/images/fone_jbl.jpg" alt="Sample Image" style=" display: block;margin-left: auto;margin-right: auto;width: 20%;" />

