
@{
    ViewData["Title"] = "DetalharDemanda";
}



<script>

    function exibirFormComentario() {

        $("#comentTable").hide();
        $("#formComentario").attr('style', 'display:block !important');
  
        }

</script>

<main role="main">


    <section class="container" id="order" style="margin-top: 50px">


        <div id="question-header" class="grid sm:fd-column">
            <h3 itemprop="name" class="fs-headline1 ow-break-word mb8 grid--cell fl1"><a href="/questions/66440274/how-can-i-prevent-accidental-deletion-of-records-in-questdb" class="question-hyperlink">DISPONIBILIZAR DEMANDAS DO PDI DE FORMA ACESSIVEL</a></h3>
        </div>

        <div class="card">
            <table class="table-responsive-sm table-hover shopping-cart-wrap">

                <tbody>

                    <tr>
                        <td class="text-center" style="padding-bottom: 1em;width:5%;vertical-align:middle">

                            <div class="js-voting-container grid jc-center fd-column ai-stretch gs4 fc-black-200" data-post-id="40333689">
                                <button title="Gostei" class="js-vote-up-btn grid--cell s-btn s-btn__unset c-pointer" data-controller="s-tooltip" data-s-tooltip-placement="right" aria-pressed="false" aria-label="Up vote" data-selected-classes="fc-theme-primary" aria-describedby="--stacks-s-tooltip-rnzv4qln"><svg aria-hidden="true" class="m0 svg-icon iconArrowUpLg" width="36" height="36" viewBox="0 0 36 36"><path d="M2 26h32L18 10 2 26z"></path></svg></button>

                                <div class="js-vote-count grid--cell fc-black-500 fs-title grid fd-column ai-center" itemprop="upvoteCount" data-value="0">0</div>

                                <button title="Não Gostei" class="js-vote-down-btn grid--cell s-btn s-btn__unset c-pointer" data-controller="s-tooltip" data-s-tooltip-placement="right" aria-pressed="false" aria-label="Down vote" data-selected-classes="fc-theme-primary" aria-describedby="--stacks-s-tooltip-e5im5oro"><svg aria-hidden="true" class="m0 svg-icon iconArrowDownLg" width="36" height="36" viewBox="0 0 36 36"><path d="M2 10h32L18 26 2 10z"></path></svg></button>
                            </div>

                        </td>
                        <td class="text-left" width="70%" style="padding-bottom: 1em">

                            <div class="card-header">
                                <dl>
                                    <dd>
                                        <div class="s-prose js-post-body" itemprop="text">
                                            <p>I think what you're trying to do is wrap loooooooooooooong words or URLs so they don't push the size of the table out.  (I've just been trying to do the same thing!)</p>
                                        </div>
                                    </dd>
                                </dl>

                                <dl class="dlist-inline small ">
                                    <dt>Tipo:</dt>
                                    <dd>Infraestrutura Escolar</dd>
                                </dl>
                                <dl class="dlist-inline small">
                                    <dt>Situação: </dt>
                                    <dd>Enviada para Análise</dd>
                                </dl>
                            </div> <!-- box.// -->

                        </td>

                        <td class="text-center" width="12%" style="padding-bottom: 1em;vertical-align:bottom">

                            <dl class="dlist-inline small">
                                <dd>
                                    <a title="Alterar" href='@Url.Action("AlterarDemanda", "Demanda")' class="btn btn-outline-success" data-toggle="tooltip"
                                       data-original-title="Save to Wishlist"><i class="fa fa-edit"></i></a>
                                </dd>

                                <dd>
                                    <a title="Remover" href="" class="btn btn-outline-danger" data-toggle="tooltip"
                                       data-original-title="Save to Wishlist"><i class="fa fa-eraser"></i></a>

                                </dd>
                            </dl>
                            <dl class="dlist-inline small">
                                <dt>Ult. Atualização: </dt>
                                <dd>01/03/2020</dd>
                            </dl>

                        </td>

                    </tr>

                </tbody>
            </table>
        </div> <!-- card.// -->


        <div id="code_cart">
            <div class="card">
                <table class="table-responsive-sm table-hover shopping-cart-wrap">
                    <thead class="text-muted">
                        <tr>
                            <th scope="col" width="15%" style="border-bottom: 2px solid #E1E7E3;vertical-align:middle;text-align:right">Comentários</th>
                            <th scope="col" width="70%" style="border-bottom: 2px solid #E1E7E3;vertical-align:middle">
                                <input type="button" value="Novo" style="margin:.7rem!important" class="btn btn-outline-success my-2 my-sm-0" onclick="exibirFormComentario()" />
                            </th>
                            <th scope="col" width="12%" style="border-bottom: 2px solid #E1E7E3"></th>
                        </tr>
                    </thead>
                    <tbody id="comentTable">

                        <tr>
                            <td class="text-left" width="15%" style="padding-bottom: 1em">

                                <div class="js-voting-container grid jc-center fd-column ai-stretch gs4 fc-black-200" data-post-id="40333689">
                                    <button title="Gostei"   class="js-vote-up-btn grid--cell s-btn s-btn__unset c-pointer" data-controller="s-tooltip" data-s-tooltip-placement="right" aria-pressed="false" aria-label="Up vote" data-selected-classes="fc-theme-primary" aria-describedby="--stacks-s-tooltip-rnzv4qln"><svg aria-hidden="true" class="m0 svg-icon iconArrowUpLg" width="36" height="36" viewBox="0 0 36 36"><path d="M2 26h32L18 10 2 26z"></path></svg></button>

                                    <div class="js-vote-count grid--cell fc-black-500 fs-title grid fd-column ai-center" itemprop="upvoteCount" data-value="0">0</div>

                                    <button title="Não Gostei" class="js-vote-down-btn grid--cell s-btn s-btn__unset c-pointer" data-controller="s-tooltip" data-s-tooltip-placement="right" aria-pressed="false" aria-label="Down vote" data-selected-classes="fc-theme-primary" aria-describedby="--stacks-s-tooltip-e5im5oro"><svg aria-hidden="true" class="m0 svg-icon iconArrowDownLg" width="36" height="36" viewBox="0 0 36 36"><path d="M2 10h32L18 26 2 10z"></path></svg></button>
                                </div>

                            </td>
                            <td class="text-left" width="70%" style="padding-bottom: 1em">
                                <div class="s-prose js-post-body" itemprop="text">
                                    <p>I think what you're trying to do is wrap loooooooooooooong words or URLs so they don't push the size of the table out.  (I've just been trying to do the same thing!)</p>
                                </div>
                            </td>

                            <td class="text-center" width="12%" style="padding-bottom: 1em;vertical-align:bottom">

                                <dl class="dlist-inline small">
                                    <dd>
                                        <a title="Alterar" href="" class="btn btn-outline-success" data-toggle="tooltip"
                                           data-original-title="Save to Wishlist"><i class="fa fa-edit"></i></a>
                                    </dd>

                                    <dd>
                                        <a title="Remover" href="" class="btn btn-outline-danger" data-toggle="tooltip"
                                           data-original-title="Save to Wishlist"><i class="fa fa-eraser"></i></a>
                                    </dd>
                                </dl>

                                <dl class="dlist-inline small">
                                    <dt>Ult. Atualização: </dt>
                                    <dd>01/03/2020</dd>
                                </dl>

                            </td>


                        </tr>


                    </tbody>
                </table>
            </div> <!-- card.// -->
        </div> <!-- code-wrap.// -->



        <div id="formComentario" hidden class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Novo Comentário</h4>
                <form>
                    <div class="form-group">
                        <textarea class="form-control" rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 73px;"></textarea>
                    </div>
                    <button class="btn btn-outline-success btn-block">Enviar</button>
                    <p class="text-center"><a href='@Url.Action("DetalharDemanda", "Demanda")'>Cancelar</a></p>
                </form>
            </div> <!-- card-body.// -->
        </div>

    </section>

    <br />
    <br />
    <hr class="featurette-divider">

</main>

